.main-window {
    width: 500px;
}

.battle-info {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 50px; /* Max distance between player and enemy */
    margin-top: 20px;
    margin-bottom: 20px; /* Spacing between battle info and buttons */
}

.player-info, .enemy-info {
    width: 150px; /* Adjust width as needed */
    border: 3px solid #ccc;
    padding: 10px;
}

.player-info{
    border-color: green;
    background: yellowgreen;
}

.enemy-info{
    border-color: #6e0000;
    background: #dd2b2b;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 10px;/* Adjust the height as needed */
}

.scrollable-container {
    margin-top: 0.5em;
    width: 400px; /* Define your container width */
    height: 200px; /* Define your container height */
    overflow: auto; /* Enable scrolling for overflow content */
    border: 3px solid #ccc; /* Optional border styling */
}

.content {
    margin: 5px;
    justify-content: center;
    align-items: center;
    /* Optional styling for the content inside the scrollable container */
}

.paralized{
    background-color: gold;
    color: black;
}