/* Updated styles */

body {
    background-color: #1F1B2E;
    color: #ffffff;
}



.character-info {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1px; /* Max distance between player and enemy */
    margin-top: 20px;
    margin-bottom: 20px; /* Spacing between battle info and buttons */
}
h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}
.character-info p {
    text-align: right;
    padding: 5px 10px;
    margin: 10px;
}

.character-info button {
    padding: 5px 10px;
    margin: 5px;
}


.battle-buttons button {
    display: block;
    width: 60%;
    margin: 0.5em auto;
    padding: 0 0 0px 0;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: black;
    min-width: 300px;
    color: white;
}

.unclickable-button{
    pointer-events: none;
    opacity: 0.5;
}


